// 定义颜色和hsb->hsla转换函数

@function hsb($h-hsb, $s-hsb, $b-hsb, $a: 1) {
    @if $b-hsb == 0 {
        @return hsla(0, 0, 0, $a)
    } @else {
        $l-hsl : ($b-hsb/2) * (2 - ($s-hsb/100));
        $s-hsl : ($b-hsb * $s-hsb) / if($l-hsl < 50, $l-hsl * 2, 200 - $l-hsl * 2);
        @return hsla($h-hsb, $s-hsl, $l-hsl, $a);
    }
}

// hsb(205, 80, 82)
// #2a8bd1
// 搜索关键字
$theme-invert : hsb(205, 80, 82);

// hsb(5, 80, 60)
// #99291f
// 非主要按钮
$theme-dark-2 : hsb(5, 80, 60);

// hsb(5, 80, 75)
// #bf3326
// 播放按钮激活背景色
$theme-dark-1 : hsb(5, 80, 75);

// hsb(5, 80, 82)
// #d1382a
// 进度条背景色、激活态
$theme : hsb(5, 80, 82);

// hsb(5, 80, 97)
// #f74231
// 频谱第一颜色、消息浮窗
$theme-light-1 : hsb(5, 80, 97);

// hsb(5, 25, 100)
// #ffc3be
// 进度条前景色、切歌提示倒计时
$sakura : hsb(5, 25, 100);

// hsb(52, 54, 96)
// #f5e371
// 频谱第二颜色
$yellow : hsb(52, 54, 96);

// hsb(155, 80, 90)
// #2ee699
// 消息浮窗
$green : hsb(155, 80, 90);

// hsb(192, 2, 97)
// #f2f6f7
// 列表区背景、搜索框背景、搜索结果悬停背景
$gray-1 : hsb(192, 2, 97);

// hsb(192, 2, 95)
// #eef2f3
// 内容区列表悬停
$gray-2 : hsb(192, 2, 95);

// hsb(192, 2, 90)
// #e1e5e6
// 列表区悬停背景、内容区顶部按钮和边框
$gray-3 : hsb(192, 2, 90);

// hsb(192, 2, 82)
// #cdd0d1
// 搜索框文本、内容区列表按钮和文本、滚动条
$gray-4 : hsb(192, 2, 82);

// hsb(0, 0, 30)
// #4d4d4d
// 列表区文本、歌曲区文本、内容区可用按钮、搜索提示文本
$gray-5 : hsb(0, 0, 30);

// hsb(0, 0, 15)
// #262626
// 内容区文本、歌曲区标题
$gray-6 : hsb(0, 0, 15);

// 阴影颜色
$shadow : hsb(0, 0, 68);